body {
    background-color: black;
}
.main-container {
  display: flex;
  align-items: center;
  width: 90%;
  height: 700px;
  background-color: rgba(82, 150, 234, 0.8);
  margin: auto;
}
.item1 {
  grid-area: header;
}
.item2 {
  grid-area: aside;
}
.item3 {
  grid-area: nav;
}
.item4 {
  grid-area: section;
}
.item5 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "aside section section"
    "nav section section"
    "footer footer footer";
  gap: 10px;
  background-color: rgba(82, 150, 234, 0);
  padding: 10px;
  width: 500px;
  margin-left: 200px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.mobile-section > h1 {
  margin-left: 200px;
  color: white;
}
.desktop-section > h1 {
  margin-left: 400px;
  color: white;
}
.grid-container2 {
  display: grid;
  gap: 10px;
  background-color: rgba(82, 150, 234, 0);
  padding: 10px;
  width: 300px;
  height: 330px;
  margin-left: 100px;
}
.grid-container2 > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 5px 0;
  font-size: 30px;
}
#footer {
  background-color: black;
  color: white;
}
